<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Home of address book</title>
  </head>
  <body class="container">
    <h1>Welcome to AddressBook</h1>
    <hr>
    <form action="/create-form">
      <button type="submit" name="button">Add contact</button>
    </form>
    <ul>
      @foreach(var contact in Model)
      {
        <li>@contact.GetUserName()</li>
      }
    </ul>
    <form action="/delete" method="post">
      <button type="submit" name="button">Clear All Contacts</button>
    </form>
  </body>
</html>
